html {
    font-size: 62.5%;
}

body {
    background-color: #f1e6ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header-imagen {
    position: relative;
    text-align: center;
    color: white;
}

.img-header {
    width: 100%;
    height: auto;
    display: block;
}

.titulo-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-size: 1.6rem;
    font-weight: 700;
}

header {
    padding: 20px 0 0 0;
    background: rgb(78, 70, 199);
    text-align: center;
    color: #fff;
}

@media (min-width: 750px) {
    header {
        text-align: left;
        padding-left: 20px;
    }
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(241, 186, 255);
    font-weight: bold;
}

ul {
    list-style: none;
}

#hero {
    background-image:url(../img/images\ \(12\).jpg);
    height: 350px;
    background-size: cover;
}

#encabezado {
    margin: 30px 0;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.contenido-hero {
    margin-top: 80px;
    color: white;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin: 0;
    color: rgb(255, 255, 255);
}

.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

@media (min-width: 750px) {
    .icono {
        margin-bottom: 0;
    }
}

.icono1 {
    background-image: url(../img/icono1.png);
}

.icono2 {
    background-image: url(../img/icono2.png);
}

.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom: 20px;
}

.agregar-carrito {
    margin: 10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}

.info-card {
    padding: 10px 20px;
}

.info-card p,
.card h4 {
    margin-bottom: 5px;
}

.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}

.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid #aaaaaa;;
    padding-top: 40px;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

/* Carrito de compras */
.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #fff;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
    padding: 20px;
    z-index: 1000;
}

.carrito.visible {
    margin-right: 0;
    opacity: 1;
}

.carrito .header-carrito {
    background-color: #4e46c7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 10px;
}

.carrito .carrito-item img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4rem;
    flex: 1;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 10px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 1.8rem;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #000;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 20px;
    font-size: 2rem;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #4e46c7;
    color: #fff;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrito-total .btn-pagar:hover {
    background-color: #3730a3;
}
